<div class="container" >

    <div *ngIf="isLoading" class="products-loading" >
        <h3>Loading...</h3>
    </div>

    <div class="products-list" *ngIf="products.length>0; else noProducts" >
        
        <div class="card"  *ngFor="let product of products" >
            <img [src]="'data:image/png;base64,'+product.image"  />
            <div class="card-content" >
                <h4>{{product.name}}</h4>
                <p class="card-description" >{{product.description}}</p>
                <div class="card-footer" >
                    <span class="card-price" >R$ {{product.price}}</span>
                    <ul class="card-actions" >
                        <li><mat-icon (click)="addToCart(product)" [style.pointer-events]="product.isCart?'none':'auto'" matTooltip="{{!product.isCart?'add to cart':'product added to cart'}}" class="mat-icon-lg icon" [style.color]="'blue'" >{{product.isCart===false?'add_shopping_cart':'check'}}</mat-icon></li>
                        <li><mat-icon (click)="addToFavorite(product)" [style.pointer-events]="product.isFavorite?'none':'auto'"  matTooltip="{{!product.isFavorite?'add to favorities':'product added to favorities'}}" class=" mat-icon-lg icon star-icon" [style.color]="product.isFavorite?'yellow':'#777'"  >star</mat-icon></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <ng-template  #noProducts>
        <div *ngIf="!isLoading" class="no-products">
            <h2>Not found products.</h2>
            <button (click)="loadingProducts()" >Retry</button>
        </div>
      </ng-template>
    <app-products-suggested/>
</div>