div{
    width: 40vh;
    background-color: #ddd;
    min-height: 100vh;
    padding: 20px
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: black;
}

.fail {
    @extend .loading;
    flex-direction: column;
}